<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaggerWebServiceConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TaggerWebServiceConsoleApp.Properties.Settings>
            <setting name="TaggerWebServiceConsoleApp_TaggerService_TaggerService" serializeAs="String">
                <value>https://tagger.tilde.com/Service.asmx</value>
            </setting>
        </TaggerWebServiceConsoleApp.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="BufferLength" value="5000"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
